{% extends 'main.html' %} {% block content %}

<div class="home-container">
  <div class="side-bar">{% include 'base/topics-component.html' %}</div>

  <div class="squads-container">
    <div class="squad-feed-title-container">
      <div class="squad-container-1">
        <h1 class="squads-main-head">Squads</h1>
        <!-- <h5 class="squads-sub-head">{{ squad_count }} matching squads found</h5> -->
      </div>
      <a href="{% url 'create-squad' %}" class="link create-squad-button">
        Create Squad
      </a>
    </div>
    {% include 'base/feed-component.html' %}
  </div>

  <div class="recent-activity-container">
    {% include 'base/recent-feed-component.html' %}
  </div>
</div>
{% endblock content %}
