{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: flex;
    width: 100%;
    border: 1px solid red;
    max-width: 1400px;
    margin: auto;
  }

  .side-bar {
    width: 25%;
    padding: 10px;
  }

  .single-topic {
    padding: 10px;
    margin-top: 15px;
  }
</style>

<div class="home-container">
  <div class="side-bar">
    <h3>Topics</h3>
    <hr />
    <div>
      {% for topic in topics %}
      <div class="single-topic">
        <a href=" {% url 'home'  %}?q={{topic.name}} ">{{ topic.name }}</a>
      </div>
      {% endfor %}
    </div>
  </div>

  <div>
    <h5>{{ squad_count }} matching squads found</h5>
    <a href="{% url 'create-squad' %}"> Create Squad </a>

    <div>
      {% for squad in squads %}
      <div>
        {% if request.user == squad.host %}

        <a href="{% url 'update-squad' squad.id %} "> Update </a>
        <a href="{% url 'delete-squad' squad.id %} "> Delete </a>

        {% endif %}

        <span>@{{squad.host.username}}</span>
        <!-- c.host gives us access to the user -->
        <a href="{% url 'squad' squad.id %}">
          <h5>{{ squad.name }}</h5>
        </a>

        <small>{{ squad.topic.name }}</small>
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
